<h1>Editing Book</h1>
<%=form_for(@book, url:book_path) do |f|%>
  <h4>title</h4>
  <%= f.text_field:title %>
  <h4>body</h4>
  <%= f.text_area:body %>

  <%= f.submit 'Update Book'%>
<%end%>
<%= link_to "Show", book_path(@book)%>
<span> |</span>
<%= link_to "Back", books_path%>
